Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add "react-helmet": "^6.1.0", to package.json
  package.json
Due: none

Add react-helmet version 6.1.0 to package-lock.json
  package-lock.json
Due: none

Update CareerPage component to use full width for background gradient
  src/User/pages/Career-Page/careerPage.jsx
Due: none

Update CareerPage component to adjust width for responsive design
  src/User/pages/Career-Page/careerPage.jsx
Due: none

Refactor CareerPage component for improved layout and accessibility
  src/User/pages/Career-Page/careerPage.jsx
Due: none

Update CareerPage component to set full width for background gradient
  src/User/pages/Career-Page/careerPage.jsx
Due: none

Fix: rating filter now shows only exact star matches across categories
  package-lock.json
  src/User/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/User/pages/Latest_in_the_Market/BambooProducts.jsx
  src/User/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/User/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/User/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/User/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/User/pages/Latest_in_the_Market/OrganicTea.jsx
  src/User/pages/Latest_in_the_Market/StorageBaskets.jsx
  src/User/pages/Popular_Categories/Beauty-Wellness.jsx
  src/User/pages/Popular_Categories/Body-Care.jsx
  src/User/pages/Popular_Categories/Customized-Gifts.jsx
  src/User/pages/Popular_Categories/Fashion-Accessories.jsx
  src/User/pages/Popular_Categories/Food-Beverages.jsx
  src/User/pages/Popular_Categories/Furniture-Decor.jsx
  src/User/pages/Popular_Categories/Health-Supplements.jsx
  src/User/pages/Popular_Categories/Printing-Stationery.jsx
Due: none

Update App.jsx
  src/App.jsx
Due: none

Add a animated heading
  src/App.jsx
  src/User/pages/Home/Home.jsx
  src/index.css
Due: prettier --write

Create AdminNotFound.jsx
  src/Admin/Pages/AdminNotFound.jsx
Due: none

Fixes #2629: Refactored rating filter logic using normalizeAndFilterByRating helper across Popular_Categories and Latest_in_the_Market
  src/User/components/Popular_Categories/Filters.jsx
  src/User/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/User/pages/Latest_in_the_Market/BambooProducts.jsx
  src/User/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/User/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/User/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/User/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/User/pages/Latest_in_the_Market/OrganicTea.jsx
  src/User/pages/Latest_in_the_Market/StorageBaskets.jsx
  src/User/pages/Popular_Categories/Beauty-Wellness.jsx
  src/User/pages/Popular_Categories/Body-Care.jsx
  src/User/pages/Popular_Categories/Customized-Gifts.jsx
  src/User/pages/Popular_Categories/Fashion-Accessories.jsx
  src/User/pages/Popular_Categories/Food-Beverages.jsx
  src/User/pages/Popular_Categories/Furniture-Decor.jsx
  src/User/pages/Popular_Categories/Health-Supplements.jsx
  src/User/pages/Popular_Categories/Popular_Categories.jsx
  src/User/pages/Popular_Categories/Printing-Stationery.jsx
  src/User/utils/productFilters.js
Due: prettier --write, eslint

meetmakers
  src/User/pages/MeetTheMakers/MeetTheMakers.jsx
Due: none

✨ UI Enhancement v1: Classic & Simple Design
  src/User/components/EnhancedButtons/AnimatedButton.jsx
  src/User/components/EnhancedHero/EnhancedHero.jsx
  src/User/components/EnhancedProductCard/EnhancedProductCard.jsx
  src/User/components/EnhancedSearch/SmartSearchBar.jsx
  src/User/components/LoadingComponents/PageLoader.jsx
  src/User/components/LoadingComponents/ProductCardSkeleton.jsx
  src/User/components/ModernNavbar/ModernNavbar.jsx
  src/User/pages/Home/Home.jsx
  src/User/pages/UIShowcase/UIShowcase.jsx
  src/index.css
  src/styles/enhanced-ui.css
Due: prettier --write

Fix subscription
  backend/app.js
  backend/models/subscriber.js
  backend/package-lock.json
  backend/package.json
  backend/routes/subscribe.js
  src/User/pages/Home/Home.jsx
Due: prettier --write, eslint

Update Home.jsx
  src/User/pages/Home/Home.jsx
Due: none

Update subscribe.js
  backend/routes/subscribe.js
Due: prettier --write, eslint

Update subscriber.js
  backend/models/subscriber.js
Due: prettier --write, eslint

Update app.js
  backend/app.js
Due: prettier --write, eslint

Update package.json
  backend/package.json
Due: none

fix: improve visual distinction between Feedback and Support Chat buttons and alignments
  package-lock.json
  package.json
  src/User/components/FeedbackForm/FeedBtn.jsx
  src/User/components/GoToTop/top.css
Due: prettier --write

fix: resolve multiple UI/UX issues
  src/User/components/Footer/Footer.jsx
  src/User/pages/Contributors/Contributors.jsx
  src/User/pages/Help/Help.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

fix: product rating display consistency
  src/User/components/Popular_Categories/ProductGrid.jsx
Due: none

fix: resolve specific UI/UX issues
  src/User/components/Footer/Footer.jsx
  src/User/components/Popular_Categories/ProductGrid.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

refactor: add null safety to rating display
  src/User/components/Popular_Categories/ProductGrid.jsx
Due: none

fix: implement CodeRabbit suggestions for rating validation
  src/User/components/Popular_Categories/ProductGrid.jsx
Due: none

Enhanced layout consistency for Privacy Policy and Terms & Conditions pages
  src/User/pages/Privacy-Policy/Privacy.jsx
  src/User/pages/Privacy-Policy/privacy.css
  src/User/pages/TermsAndCondition/TermsAndCondition.jsx
  src/User/pages/TermsAndCondition/terms.css
Due: prettier --write

Fix: Corrected routing for 'Login as Vigy' button (Issue #2638)
  backend/app.js
  backend/config/config.js
  backend/config/db.js
  backend/controllers/vigyController.js
  backend/createTestUser.js
  backend/middlewares/Passport.js
  backend/models/Vigy.js
  backend/package-lock.json
  backend/package.json
  backend/routes/authRoutes.js
  backend/routes/vigyRoutes.js
  backend/services/inMemoryVigyService.js
  backend/setup-env.js
  src/Admin/Pages/VigyDashboard.jsx
  src/Admin/Pages/VigyForm.jsx
  src/Admin/Pages/VigyLogin.jsx
  src/App.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write, eslint

chore: regenerate package-lock.json after merge conflict
  backend/package-lock.json
Due: none

feat: Complete dark mode implementation
  package-lock.json
  package.json
  src/App.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/components/Navbar/DarkModeToggle.jsx
  src/components/Navbar/UserNavbar.jsx
  src/context/ThemeContext.jsx
  src/index.css
Due: prettier --write

resolve: merge conflicts between fix-vigy-login and main branches
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/subscribe.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint: (any of: *.js) or (any of: *.html)
