Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Replaced the price from $ to ₹
  package-lock.json
  src/components/Popular_Categories/ProductGrid.jsx
Due: none

Fixed Bug for Products Pages and Added heading to all latest pages
  src/App.jsx
  src/components/Popular_Categories/ProductGrid.jsx
  src/components/Products/ProductDetails.jsx
  src/pages/Home/Home.jsx
  src/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/pages/Latest_in_the_Market/BambooProducts.jsx
  src/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/pages/Latest_in_the_Market/OrganicTea.jsx
  src/pages/Latest_in_the_Market/StorageBaskets.jsx
Due: none

Update Feedback.jsx
  package-lock.json
  package.json
  src/components/FeedbackForm/Feedback.jsx
Due: none

Added CSS to sweetpopup.css
  src/components/FeedbackForm/Sweetpopup.css
Due: prettier --write

Added OrderTrackingBar
  src/pages/Order/OrderTrackingBar.jsx
  src/pages/Order/Orderdetails.jsx
Due: none

Updated the Progress bar in the order section
  src/pages/Order/OrderTrackingBar.jsx
Due: none

[Bug] Correct the FAQ open and close issue and also private routes
  src/App.jsx
  src/pages/FAQ/Faq.jsx
Due: none

social login authentication added
  backend/index.js
  backend/middlewares/Passport.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/authRoutes.js
  backend/routes/userRoutes.js
  controllers/User.controller.js
  controllers/productController.js
  middleware/authMiddleware.js
  models/User.model.js
  package-lock.json
  server.js
  src/App.jsx
  src/components/Aside/Aside.jsx
  src/components/Buttons/Logout.jsx
  src/pages/AdditionalDetails.jsx
  src/pages/Dashboard/Dashboard.jsx
  src/pages/Login/Login.jsx
  src/pages/Signup/Signup.jsx
Due: prettier --write, eslint

Done
  src/Admin/Admin_Panel.jsx
  src/Admin/VigyForm.jsx
  src/Admin/components/AddVigyModal.jsx
  src/App.jsx
Due: none

[Bug] fixed bugs in footer links and added new features in categories page
  src/Admin/ProductForm.jsx
  src/assets/mahima.png
  src/assets/sadaf.png
  src/assets/syed.png
  src/components/About/Networkdiagram.jsx
  src/components/Footer/Footer.jsx
  src/components/Popular_Categories/ProductGrid.jsx
  src/pages/About/AboutUs.jsx
Due: none

Added OTP Activity in Android
  Android/app/src/main/java/com/example/vigybag/Activities/OTPActivity.kt
  Android/app/src/main/res/layout/activity_otpactivity.xml
Due: none

added-chatbot
  src/App.jsx
  src/components/GoToTop/gototop.jsx
Due: none

added-bot-config-file
  Vigy - 2024 Jul 15.bpz
Due: none

created 2 pages for Dashboard (Cart and Order)
  src/App.jsx
  src/components/Aside(Dashboard)/Aside.jsx
  src/components/Aside/Aside.jsx
  src/components/Dashboard/Aside.jsx
  src/components/Dashboard/Header.jsx
  src/components/Footer/Footer.css
  src/components/Footer/Footer.jsx
  src/components/HomPageCard/CategoryCard.jsx
  src/components/Popular_Categories/ProductGrid.jsx
  src/components/ProductCard/ProductCard.jsx
  src/pages/Dashboard/dashboard_cart.jsx
  src/pages/Dashboard/dashboard_order.jsx
Due: prettier --write

updated
  Vigy - 2024 Jul 15.bpz
  Vigy - 2024 Jul 16.bpz
Due: none

Add files via upload
  Web UI Assets/Art Supplies.png
Due: none

Add files via upload
  Web UI Assets/FAQ Page.png
Due: none

fixed progress bar overlap in navbar
  src/components/Navbar/UserNavbar .jsx
Due: none

footer set
  src/pages/Home/Home.jsx
Due: none

removed overflow
  src/components/Footer/Footer.css
Due: prettier --write

Commit-1
  download.jpeg
  package-lock.json
  src/pages/Help/Help.css
  src/pages/Help/Help.jsx
  src/pages/Help/account.gif
  src/pages/Help/basket.gif
  src/pages/Help/box.gif
  src/pages/Help/location.gif
  src/pages/Help/refund.gif
  src/pages/Help/wallet.gif
Due: prettier --write

Updated vigy form
  package-lock.json
  package.json
  src/Admin/VigyForm.jsx
  src/Admin/components/RegisterAdmin/FileInput.jsx
  src/Admin/components/RegisterAdmin/InputField.jsx
  src/Admin/components/RegisterAdmin/SelectField.jsx
Due: none

Update src/Admin/VigyForm.jsx
  src/Admin/VigyForm.jsx
Due: none

Added popup message for login signup , logout and Clear Button Pages
  src/components/Aside/Aside.jsx
  src/components/Buttons/Logout.jsx
  src/components/FeedbackForm/Feedback.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Dashboard/Dashboard.jsx
  src/pages/Login/Login.jsx
  src/pages/Order/Cart.jsx
  src/pages/Signup/Signup.jsx
Due: none

corrected
  src/components/Aside/Aside.jsx
Due: none

solve conflict while adding user and admin seperate
  src/User/components/Aside/Aside.jsx
Due: none

Vigy form page Updated
  src/Admin/VigyForm.jsx
  src/Admin/components/RegisterAdmin/FileInput.jsx
  src/Admin/components/RegisterAdmin/InputField.jsx
  src/Admin/components/RegisterAdmin/SelectField.jsx
Due: none

Links Opening in Next tab
  src/Admin/VigyForm.jsx
Due: none

Update Help.css
  src/pages/Help/Help.css
Due: prettier --write

Update Help.jsx
  src/pages/Help/Help.jsx
Due: none

Certification Page All Done ✅
  package-lock.json
  package.json
  src/pages/Certifications/Certifications.jsx
Due: none

Revert "Help Page Added"
  download.jpeg
  src/pages/Help/Help.css
  src/pages/Help/Help.jsx
  src/pages/Help/account.gif
  src/pages/Help/basket.gif
  src/pages/Help/box.gif
  src/pages/Help/location.gif
  src/pages/Help/refund.gif
  src/pages/Help/wallet.gif
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint: (any of: *.js) or (any of: *.html)
