Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

Added Buy Now Button with Animated icon
  index.html
  style/style.css
Due: prettier --write, eslint

Added Privacy Policy Page
  Pages/privacypolicy/logo.webp
  Pages/privacypolicy/privacy.css
  Pages/privacypolicy/privacy.html
  Pages/privacypolicy/privacy.js
  Pages/privacypolicy/style.css
  index.html
  style/style.css
Due: prettier --write, eslint

Tailwind configuration
  Front-with-React/VigyBag/Assets/Logo/VB logo 1.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 2.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 3.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 4.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 5.png
  Front-with-React/VigyBag/package-lock.json
  Front-with-React/VigyBag/package.json
  Front-with-React/VigyBag/postcss.config.js
  Front-with-React/VigyBag/src/index.css
  Front-with-React/VigyBag/tailwind.config.js
Due: prettier --write, eslint

Create Sign Up page.png
  Front-with-React/VigyBag/Web UI Assets/Sign Up page.png
Due: none

Delete Front-with-React/VigyBag/Web UI Assets directory
  Front-with-React/VigyBag/Web UI Assets/Sign Up page.png
Due: none

Create Sign up page .png
  Front-with-React/VigyBag/Web UI Assets/Sign up page .png
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Sign Up Page VB.png
Due: none

Delete Front-with-React/VigyBag/Web UI Assets/Sign up page .png
  Front-with-React/VigyBag/Web UI Assets/Sign up page .png
Due: none

[ImgBot] Optimize images
  Front-with-React/VigyBag/Web UI Assets/Sign Up Page VB.png
Due: none

fix/added-proper-texts-in-place-of-lorem
  index.html
Due: prettier --write, eslint

change logo of header
  img/logo_1.png
  index.html
Due: prettier --write, eslint

Edited dynamic code for year in footer section
  index.html
Due: prettier --write, eslint

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Home VB.png
Due: none

href attached
  index.html
Due: prettier --write, eslint

Added Cart Page
  Cart/Cart.html
  cart/js/main.js
  index.html
Due: prettier --write, eslint

1. corrected footer of the about Page 2. Turned off text selection 3. added copyrights selection 4. added payments image 5. added color to button 6. added hovering effect to button
  Pages/About Page/about.css
  Pages/About Page/about.html
Due: prettier --write, eslint

1. Changed the content for header 2. Added style for the header topic 3. Changed the description content
  Pages/About Page/about.css
  Pages/About Page/about.html
Due: prettier --write, eslint

1. Added style to description
  Pages/About Page/about.css
Due: prettier --write

logo
  New Logo/Screenshot 2024-05-18 183042.png
  New Logo/Screenshot_2024-05-18_174852-removebg-preview.png
  New Logo/Screenshot_2024-05-18_183654-removebg-preview.png
  New Logo/Screenshot_2024-05-20_144540-removebg-preview.png
  New Logo/project1.png
  New Project1.png
Due: none

first commit
  Pages/Team/team.html
Due: prettier --write, eslint

footer changes
  Pages/Team/team.css
  Pages/Team/team.html
Due: prettier --write, eslint

MObile section is improved
  img/mo1.png
  img/mo10.png
  img/mo11.png
  img/mo2.avif
  img/mo3.avif
  img/mo4.webp
  img/mo5.png
  img/mo6.png
  img/mo7.png
  img/mo8.png
  img/mo9.png
  img/vigybag_design-removebg-preview 1.png
  img/vigybag_icon-removebg-preview (1) 1.png
  index.css
  index.html
  see_more/see_more.html
  style/style.css
Due: prettier --write, eslint

add style in customer review
  index.css
Due: prettier --write

Fixed Customer review section
  index.html
Due: prettier --write, eslint

Added My Cart Page
  Cart/script.js
  cart/js/util.js
  index.html
Due: prettier --write, eslint

Fixes #975
  Pages/About Page/about.css
  Pages/About Page/about.html
Due: prettier --write, eslint

fix #1177: Improving Cards in Home page
  index.html
  style/style.css
Due: prettier --write, eslint

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/User Dashboard.png
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Contact.png
Due: none

Delete Front-with-React/VigyBag/Web UI Assets/Contact.png
  Front-with-React/VigyBag/Web UI Assets/Contact.png
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Cart.png
Due: none

Delete Front-with-React/VigyBag/Web UI Assets/Cart.png
  Front-with-React/VigyBag/Web UI Assets/Cart.png
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Cart VB.png
Due: none
