Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

Update feedback.css
  src/User/components/FeedbackForm/feedback.css
Due: prettier --write

Revert "[Bug] solved bugs in different pages"
  package-lock.json
  src/User/components/Aside/Aside.jsx
  src/User/components/Buttons/Logout.jsx
  src/User/components/Footer/Footer.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/components/Order/OrderSummary.jsx
  src/User/components/ProductCard/ProductCard.jsx
  src/User/pages/Dashboard/Dashboard.jsx
  src/User/pages/Order/Cart.jsx
  src/User/pages/Order/Checkout.jsx
Due: none

Admin Login Page
  src/Admin/Pages/AdminLogin.jsx
Due: none

User Login Page
  src/App.jsx
  src/User/pages/Login/Login.jsx
  src/User/pages/Signup/Signup.jsx
  src/User/pages/UserAuth/Login.css
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write

User Login
  src/App.jsx
  src/User/pages/Login/Login.jsx
  src/User/pages/Signup/Signup.jsx
  src/User/pages/UserAuth/Login.css
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write

admin feat added
  backend/controllers/authController.js
  backend/middlewares/Passport.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/authRoutes.js
  backend/routes/passwordResetRoutes.js
  src/Admin/Pages/AdminLogin.jsx
  src/Admin/components/AdminNavbar.jsx
  src/App.jsx
  src/User/pages/AdditionalDetails.jsx
  src/User/pages/Admin-Verification/Admin.jsx
  src/User/pages/ForgotPasswordForm.jsx
  src/User/pages/Login/Login.jsx
Due: prettier --write, eslint

admin v1.0.2 added
  src/Admin/components/AdminNavbar.jsx
Due: none

Added logout sweetAlert , fixed the filter , delete popup , footer changes and fixed bugs
  src/User/components/Aside/Aside.jsx
  src/User/components/Footer/Footer.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/components/Popular_Categories/Filters.jsx
  src/User/pages/Dashboard/Dashboard.jsx
  src/User/pages/Order/Cart.jsx
Due: none

filter
  src/User/components/Popular_Categories/Filters.jsx
Due: none

user Auth page is done
  src/App.jsx
  src/User/pages/Login/Login.jsx
  src/User/pages/Signup/Signup.jsx
  src/User/pages/UserAuth/UserAuth.css
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write

new ui integrated with backend
  package-lock.json
  src/Admin/AdminLayout.jsx
  src/Admin/components/AdminNavbar.jsx
  src/Admin/components/AdminNavbar/AdminNavbar.jsx
  src/App.jsx
  src/PrivateRoute.jsx
  src/User/components/Aside/Aside.jsx
  src/User/components/Buttons/Logout.jsx
  src/User/components/Navbar/AuthButton.jsx
  src/User/components/Navbar/MobileMenu.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/pages/Dashboard/dashboard_cart.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

Order Total Bug Fixed
  src/User/components/Order/OrderSummary.jsx
Due: none

routes of admin registration done
  backend/index.js
  backend/models/AdminRegistration.js
  backend/package-lock.json
  backend/package.json
  backend/routes/adminRegistrationRoutes.js
  src/Admin/AdminRegistration.jsx
  src/Admin/VigyForm.jsx
Due: prettier --write, eslint

Update backend/routes/adminRegistrationRoutes.js
  backend/routes/adminRegistrationRoutes.js
Due: prettier --write, eslint

bugs fixed and new feat added
  package-lock.json
  src/App.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/pages/Admin-Verification/Admin.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

Admin files organized and done Certain changes which we Discuss!!
  src/Admin/Pages/AdminPanel.jsx
  src/Admin/Pages/VigyForm.jsx
  src/Admin/components/AdminNavbar.jsx
  src/Admin/components/AdminPanel/ExportButton.jsx
  src/Admin/components/AdminPanel/Pagination.jsx
  src/Admin/components/AdminPanel/ProfileModal.jsx
  src/Admin/components/AdminPanel/SearchBar.jsx
  src/Admin/components/AdminPanel/StatsSummary.jsx
  src/Admin/components/AdminPanel/VigyTable.jsx
  src/App.jsx
Due: none

New Contact page and some bugs fixed in footer
  src/User/components/Footer/Footer.jsx
  src/User/pages/Contacts/Contact.jsx
Due: none

Update Home.jsx
  src/User/pages/Home/Home.jsx
Due: none

Update Footer.css
  src/User/components/Footer/Footer.css
Due: prettier --write

Created wishlist Page of vigybag
  src/App.jsx
  src/User/components/Aside/Aside.jsx
  src/User/components/Popular_Categories/ProductGrid.jsx
  src/User/pages/Dashboard/dashboard_cart.jsx
  src/User/pages/Dashboard/dashboard_wishlist.jsx
  src/User/pages/Order/WishlistEmpty.jsx
  src/User/redux/store.jsx
  src/User/redux/wishlist.jsx
  src/assets/emptyWishlist.png
Due: none

New Contact page and footer updated
  src/User/components/Footer/Footer.jsx
  src/User/pages/Contacts/Contact.jsx
Due: none

update app.jsx
  src/App.jsx
Due: none

Added API Part in Android
  Android/app/src/main/java/com/example/vigybag/API/ApiInterface.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/Converters.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/NewAddedProduct.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/NewAddedProductItem.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/Rating.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/RatingX.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/RecommendModel.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/RecommendModelItem.kt
  Android/app/src/main/java/com/example/vigybag/API/Model/WishlistItem.kt
  Android/app/src/main/java/com/example/vigybag/API/RetrofitInstance.kt
Due: none

corrected
  src/User/components/Aside/Aside.jsx
  src/User/pages/Dashboard/dashboard_wishlist.jsx
Due: none

admin auth added with new controllers
  backend/controllers/authController.js
  backend/models/Admin.js
  src/App.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write, eslint

admin auth added with new controllers
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

Commit-1
  package-lock.json
  package.json
  src/User/components/FeedbackForm/Feedback.jsx
Due: none

Commit 2
  src/User/components/FeedbackForm/Feedback.jsx
Due: none

terms&condition and privacy policy hyperlink added in login page
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

Final Commit
  src/User/components/FeedbackForm/Feedback.jsx
  src/User/components/FeedbackForm/emoji1.gif
  src/User/components/FeedbackForm/emoji2.gif
  src/User/components/FeedbackForm/emoji3.gif
  src/User/components/FeedbackForm/emoji4.gif
  src/User/components/FeedbackForm/emoji5.gif
Due: none

Commit-2
  src/User/components/FeedbackForm/Feedback.jsx
Due: none

Commit-3
  src/User/components/FeedbackForm/Feedback.jsx
Due: none

fixed wishlist heart , fixed filter in mobile , corrected route name
  src/App.jsx
  src/User/components/Aside/Aside.jsx
  src/User/components/Footer/Footer.css
  src/User/components/Popular_Categories/Filters.jsx
  src/User/components/Popular_Categories/ProductGrid.jsx
  src/User/pages/Dashboard/dashboard-cart.jsx
  src/User/pages/Dashboard/dashboard-order.jsx
  src/User/pages/Dashboard/dashboard-wishlist.jsx
  src/User/redux/wishlist.jsx
Due: prettier --write

admin registration done with frontend
  backend/models/AdminRegistration.js
  backend/routes/adminRegistrationRoutes.js
  src/Admin/VigyForm.jsx
Due: prettier --write, eslint

Update gototop.jsx
  src/User/components/GoToTop/gototop.jsx
Due: none

Order Summary fixed
  src/User/components/Order/OrderSummary.jsx
Due: none

added discord logo
  src/User/components/Footer/Footer.jsx
Due: none

Refactor product display to use DummyJSON data
  src/User/components/Popular_Categories/ProductGrid.jsx
  src/User/components/ProductCard/ProductCard.jsx
  src/User/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/User/pages/Latest_in_the_Market/BambooProducts.jsx
  src/User/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/User/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/User/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/User/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/User/pages/Latest_in_the_Market/OrganicTea.jsx
  src/User/pages/Latest_in_the_Market/StorageBaskets.jsx
  src/User/pages/Popular_Categories/Beauty-Wellness.jsx
  src/User/pages/Popular_Categories/Body-Care.jsx
  src/User/pages/Popular_Categories/Customized-Gifts.jsx
  src/User/pages/Popular_Categories/Fashion-Accessories.jsx
  src/User/pages/Popular_Categories/Food-Beverages.jsx
  src/User/pages/Popular_Categories/Furniture-Decor.jsx
  src/User/pages/Popular_Categories/Health-Supplements.jsx
  src/User/pages/Popular_Categories/Printing-Stationery.jsx
Due: none
