Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

login form hover effect's color changes.
  Pages/login/login.css
Due: prettier --write

Changed Our Service to Categories
  index.html
Due: prettier --write, eslint

Updated Customer Review Section
  index.css
Due: prettier --write

Setup React file for first time.
  Front-with-React/VigyBag/.eslintrc.cjs
  Front-with-React/VigyBag/.gitignore
  Front-with-React/VigyBag/README.md
  Front-with-React/VigyBag/index.html
  Front-with-React/VigyBag/package-lock.json
  Front-with-React/VigyBag/package.json
  Front-with-React/VigyBag/public/vite.svg
  Front-with-React/VigyBag/src/App.css
  Front-with-React/VigyBag/src/App.jsx
  Front-with-React/VigyBag/src/assets/react.svg
  Front-with-React/VigyBag/src/index.css
  Front-with-React/VigyBag/src/main.jsx
  Front-with-React/VigyBag/vite.config.js
Due: prettier --write, eslint

make issue template working
  .github/ISSUES_TEMPLATE/Other.yml
  .github/ISSUES_TEMPLATE/bug.yml
  .github/ISSUES_TEMPLATE/documentation.yml
  .github/ISSUES_TEMPLATE/feature.yml
  README.md
Due: none

implemented-captcha
  Backend Code/VigyBag/base/views.py
  Pages/login/login.html
  index.html
Due: prettier --write, eslint

.
  Backend Code/VigyBag/VigyBag/settings.py
Due: none

rename ISSUE_TEMPLATE Directory
  .github/ISSUE_TEMPLATE/Other.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

Fixes Issue #1018
  index.html
  see_more/cart/main.js
  see_more/see_more.html
Due: prettier --write, eslint

Fixed the Google Sign In hovering issue
  Pages/login/login.css
  Pages/login/login.html
Due: prettier --write, eslint

Fixed Navigation Bar Text Visibility Issue in Dark Mode in Team Tab
  Pages/Team/team.css
Due: prettier --write

Search bar issue has resolved
  index.html
  style/style.css
Due: prettier --write, eslint

Added Animated icon to the Navbar links
  index.html
Due: prettier --write, eslint

Searchbar_Animate
  index.css
  index.html
Due: prettier --write, eslint

Added more beautify icons in the footer section
  index.html
  style/style.css
Due: prettier --write, eslint

logo
  Screenshot 2024-05-18 183042.png
  Screenshot_2024-05-18_174852-removebg-preview.png
  Screenshot_2024-05-18_183654-removebg-preview.png
  img/Screenshot_2024-05-18_174852-removebg-preview.png
  index.html
Due: prettier --write, eslint

Add files via upload
  img/VG Bag logo.png
Due: none

Add files via upload
  img/VB logo 1.png
  img/VB logo 2.png
  img/VB logo 3.png
  img/VB logo 4.png
  img/VB logo 5.png
Due: none

Update README.md
  README.md
Due: none

logo
  New Project1.png
Due: none

Create logo.png
  Front-with-React/VigyBag/Assets/Logo/logo.png
Due: none

Add files via upload
  Front-with-React/VigyBag/Assets/Logo/VB logo 1.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 2.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 3.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 4.png
  Front-with-React/VigyBag/Assets/Logo/VB logo 5.png
Due: none

Delete Front-with-React/VigyBag/Assets/Logo/logo.png
  Front-with-React/VigyBag/Assets/Logo/logo.png
Due: none

logo
  project1.png
Due: none

Added anwers in FAQ section of the page
  index.html
  style/style.css
Due: prettier --write, eslint

logo
  Screenshot_2024-05-20_144540-removebg-preview.png
  index.html
Due: prettier --write, eslint

Added Different images to the headphones section
  img/head1.jpg
  img/head2.jpeg
  img/head3.jpg
  img/head4.webp
  img/head5.webp
  img/head6.webp
  index.html
Due: prettier --write, eslint

Fixed UI
  .vscode/settings.json
  index.html
  style/style.css
Due: prettier --write, eslint

animation added
  index.html
  package-lock.json
Due: prettier --write, eslint

Contact form needs to be responsive #1079
  Pages/contact/contact.css
  style/style.css
Due: prettier --write

Issue fix 1079
  Pages/contact/contact.css
  style/style.css
Due: prettier --write

Order Page is Added
  index.html
  order.css
  order.html
Due: prettier --write, eslint

update
  see_more/cart/main.js
  see_more/see_more.html
Due: prettier --write, eslint

Changes the look of T-Shirt section
  img/t-shirt1.jpg
  img/t-shirt2.jpeg
  img/t-shirt3.webp
  img/t-shirt4.jpg
  img/t-shirt5.webp
  img/t-shirt6.webp
  img/t-shirt7.webp
  index.html
Due: prettier --write, eslint

final_changes_to work_latestet_version_for_searchbar_animation
  index.html
  script/script.js
  style/style.css
Due: prettier --write, eslint
