Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

Missing Links
  controllers/User.controller.js
  controllers/productController.js
  middleware/authMiddleware.js
  models/User.model.js
  public/Logo.svg
  public/sitemap.xml
  routes/authRoutes.js
  routes/index.js
  routes/productRoutes.js
  src/components/Footer/Footer.jsx
  src/components/Navbar/ProductsDropdown.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Login/Login.jsx
  src/pages/Signup/Signup.jsx
Due: prettier --write, eslint

[ImgBot] Optimize images
  src/assets/empty-cart.png
  src/assets/images/Certificate.png
Due: none

Update OrderSummary.jsx
  src/components/Order/OrderSummary.jsx
Due: none

Design the Login and Sign up Page to new good looking
  src/components/Navbar/UserNavbar .jsx
  src/pages/Login/Login.jsx
  src/pages/Signup/Signup.jsx
Due: none

login bug fixed redirect and navbar usericon fixed
  src/components/Navbar/AuthButton.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Login/Login.jsx
Due: none

Improving functionality of the feedback form and setting up server side script
  .eslintrc.cjs
  backend/routes/ContactRoute.js
  package-lock.json
  package.json
  src/pages/Contacts/Contact.jsx
Due: prettier --write, eslint

modifiedit as part of the earlier PR.
  src/pages/Contacts/Contact.jsx
Due: none

Fixed Bugs in All pages of categories pages
  src/assets/Login-cuate.png
  src/assets/Sign-up.png
  src/assets/sign-up-img.png
  src/components/Aside/Aside.jsx
  src/components/Footer/Footer.jsx
  src/components/Navbar/UserNavbar .jsx
  src/components/Popular_Categories/Filters.jsx
  src/components/Popular_Categories/Header.jsx
  src/components/Popular_Categories/ProductGrid.jsx
  src/pages/Certifications/Certifications.jsx
  src/pages/Contacts/Contact.jsx
  src/pages/Dashboard/Dashboard.jsx
  src/pages/EPRPage/EPR_Page.jsx
  src/pages/FAQ/Faq.jsx
  src/pages/Home/Home.jsx
  src/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/pages/Latest_in_the_Market/BambooProducts.jsx
  src/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/pages/Latest_in_the_Market/OrganicTea.jsx
  src/pages/Latest_in_the_Market/StorageBaskets.jsx
  src/pages/Login/Login.jsx
  src/pages/Order/Cart.jsx
  src/pages/Order/CartEmpty.jsx
  src/pages/Order/MyOrders.jsx
  src/pages/Order/Orderdetails.jsx
  src/pages/Popular_Categories/Beauty-Wellness.jsx
  src/pages/Popular_Categories/Body-Care.jsx
  src/pages/Popular_Categories/Customized-Gifts.jsx
  src/pages/Popular_Categories/Fashion-Accessories.jsx
  src/pages/Popular_Categories/Food-Beverages.jsx
  src/pages/Popular_Categories/Furniture-Decor.jsx
  src/pages/Popular_Categories/Health-Supplements.jsx
  src/pages/Popular_Categories/Printing-Stationery.jsx
  src/pages/Privacy-Policy/privacy.css
  src/pages/Signup/Signup.jsx
  src/pages/TermsAndCondition/TermsAndCondition.jsx
  src/pages/TermsAndCondition/terms.css
Due: prettier --write

dynamic dashboard updated
  backend/controllers/authController.js
  backend/controllers/productController.js
  backend/index.js
  backend/models/Product.js
  backend/routes/index.js
  src/components/Aside/Aside.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Login/Login.jsx
Due: prettier --write, eslint

dynamic dashboard updated
  src/components/Buttons/Logout.jsx
  src/components/Navbar/AuthButton.jsx
  src/components/Navbar/UserNavbar .jsx
  src/components/SearchBar/SearchBar.jsx
  src/pages/Login/Login.jsx
Due: none

Fuzzy search
  package-lock.json
  package.json
  src/components/Navbar/Navbar.jsx
  src/components/SearchBar/SearchBar.jsx
Due: none

some additional changes to ensure the backend works correctly.
  backend/routes/ContactRoute.js
  package-lock.json
  package.json
  src/pages/Contacts/Contact.jsx
Due: prettier --write, eslint

Server rendered
  src/pages/Login/Login.jsx
Due: none

[ImgBot] Optimize images
  src/assets/Login-cuate.png
  src/assets/Sign-up.png
Due: none

Contact.jsx
  src/pages/Contacts/Contact.jsx
Due: none

Fuzzy search using fuse.js is added
  package-lock.json
  package.json
  src/components/SearchBar/SearchBar.jsx
Due: none

new username functionality fetched and bugs fixed
  backend/controllers/authController.js
  src/components/Aside/Aside.jsx
  src/components/Dashboard/Aside.jsx
  src/components/Navbar/AuthButton.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Login/Login.jsx
Due: prettier --write, eslint

new username functionality fetched and bugs fixed
  src/components/SearchBar/SearchBar.jsx
Due: none

Fixed the Resposiveness of All Pages with fixed Navbar
  src/components/About/Header.jsx
  src/components/Navbar/UserNavbar .jsx
  src/components/Popular_Categories/Filters.jsx
  src/components/Popular_Categories/ProductGrid.jsx
  src/pages/Certifications/Certifications.jsx
  src/pages/Contacts/Contact.jsx
  src/pages/Home/Home.jsx
  src/pages/Home/SearchBar.jsx
  src/pages/ReturnAndCancellation/returnAndCancellation.jsx
Due: none

corrected the Logout Navbar bug
  src/components/Aside/Aside.jsx
  src/components/Navbar/AuthButton.jsx
  src/components/Navbar/MobileMenu.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Order/Cart.jsx
Due: none

modified OrderSummary.jsx file to difsplay FREE when shipping charges are 0. Modified Home.jsx file for syntax errors in js format.
  src/components/Order/OrderSummary.jsx
  src/pages/Home/Home.jsx
Due: none

Revert "[Bug] corrected the Logout Navbar and some Bug in responsivness"
  src/components/Aside/Aside.jsx
  src/components/Navbar/AuthButton.jsx
  src/components/Navbar/MobileMenu.jsx
  src/components/Navbar/UserNavbar .jsx
  src/pages/Order/Cart.jsx
Due: none

Bug Fixed for login username
  src/components/Aside/Aside.jsx
  src/components/Navbar/AuthButton.jsx
  src/components/Navbar/MobileMenu.jsx
  src/components/Navbar/UserNavbar .jsx
Due: none

Done
  src/components/Navbar/UserNavbar .jsx
  src/pages/Certifications/Certifications.jsx
Due: none

Update src/pages/Certifications/Certifications.jsx
  src/pages/Certifications/Certifications.jsx
Due: none

DONE
  src/pages/Certifications/Certifications.jsx
Due: none

Changed
  src/pages/Certifications/Certifications.jsx
Due: none

Implement a New Login Page in Android with Backend
  .idea/vcs.xml
  .idea/workspace.xml
  Android/app/src/main/java/com/example/vigybag/Activities/LoginActivity.kt
  Android/app/src/main/res/layout/activity_login.xml
Due: none

Bug Fixed in Checkout and Payment Page
  src/components/Order/OrderSummary.jsx
  src/components/Order/ProgressBar.jsx
  src/pages/Certifications/Certifications.jsx
  src/pages/Order/Checkout.jsx
  src/pages/Payment/Payment.jsx
  src/pages/Privacy-Policy/privacy.css
Due: prettier --write

Update App.jsx
  src/App.jsx
Due: none

Update Layout.jsx
  src/Layout.jsx
Due: none

Created FeedBtn.jsx
  src/components/FeedbackForm/FeedBtn.jsx
Due: none

Created Feedback.jsx
  src/components/FeedbackForm/Feedback.jsx
Due: none

Created feedback.css
  src/components/FeedbackForm/feedback.css
Due: prettier --write
