Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

Updated terms and conditions
  src/User/pages/TermsAndCondition/TermsAndCondition.jsx
  src/User/pages/TermsAndCondition/terms.css
Due: prettier --write

updated tnc
  src/User/pages/TermsAndCondition/TermsAndCondition.jsx
Due: none

fixed privacy download
  src/User/pages/Privacy-Policy/Privacy.jsx
  src/User/pages/Privacy-Policy/privacy.css
Due: prettier --write

updated privacy
  src/User/pages/Privacy-Policy/Privacy.jsx
Due: none

fix: correct html2pdf import and install
  src/User/pages/Privacy-Policy/privacy.css
Due: prettier --write

fix: correct html2pdf import path for Vite build
  package-lock.json
  package.json
  src/User/pages/Privacy-Policy/Privacy.jsx
Due: none

Fixed pdf content issue
  src/User/pages/Privacy-Policy/Privacy.jsx
Due: none

fix download issue
  src/App.jsx
  src/User/pages/Privacy-Policy/Privacy.jsx
Due: none

add hover effects for social icons (fixes #2385)
  backend/package-lock.json
  src/User/components/Footer/Footer.css
Due: prettier --write

updated cetificate
  src/assets/images/Vigybag Cerificate.png
Due: none

Update Certificate
  src/User/pages/Certification/Certification.jsx
  src/assets/images/Certificate.png
  src/assets/images/Vigybag Cerificate.png
Due: none

Varify Cartificate Logic
  src/User/pages/Certification/Certification.jsx
Due: none

Enhance the certificate Varification Logic
  src/User/pages/Certification/Certification.jsx
Due: none

[ImgBot] Optimize images
  src/assets/images/Certificate.png
  src/assets/meenaImg.jpeg
  src/assets/necklaceImg.jpeg
  src/assets/silverEarringsImg.jpeg
Due: none

Fix: Corrected routing for 'Login as Vigy' button (Issue #2638)
  backend/app.js
  backend/config/config.js
  backend/config/db.js
  backend/controllers/vigyController.js
  backend/createTestUser.js
  backend/middlewares/Passport.js
  backend/models/Vigy.js
  backend/package-lock.json
  backend/package.json
  backend/routes/authRoutes.js
  backend/routes/vigyRoutes.js
  backend/services/inMemoryVigyService.js
  backend/setup-env.js
  src/Admin/Pages/VigyDashboard.jsx
  src/Admin/Pages/VigyForm.jsx
  src/Admin/Pages/VigyLogin.jsx
  src/App.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write, eslint

resolve: merge conflicts between fix-vigy-login and main branches
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/subscribe.js
Due: prettier --write, eslint

Fix: Remove hardcoded secrets and use .env file
  backend/app.js
  backend/routes/subscribe.js
  backend/setup-env.js
Due: prettier --write, eslint

solved #2491 by changing code
  src/User/components/TypingAnimation/TypingAnimation.jsx
  src/User/pages/Home/Home.jsx
Due: none

Improve Backend
  backend/.env.example
  backend/app.js
  backend/config/config.js
  backend/config/db.js
  backend/controllers/authController.js
  backend/controllers/productController.js
  backend/middlewares/Passport.js
  backend/models/subscriber.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/routes/passwordResetRoutes.js
  backend/routes/productRoutes.js
  backend/routes/products.js
  backend/routes/subscribe.js
  backend/routes/userRoutes.js
  backend/server.js
  backend/services/emailService.js
  backend/templates/logo.svg
  backend/templates/otpEmailTemplate.html
  backend/templates/passwordResetTemplate.html
  img/VG Bag logo.png
  src/App.jsx
  src/User/pages/Home/Home.jsx
Due: prettier --write, eslint

fix: Correct filename casing for Subscriber model
  backend/models/Subscriber.js
Due: prettier --write, eslint

update app.js file for session handing
  backend/app.js
  backend/models/Subscriber.js
  package-lock.json
  package.json
Due: prettier --write, eslint

update basic android and authController response message
  Android/.idea/.name
  Android/.idea/AndroidProjectSystem.xml
  Android/.idea/caches/deviceStreaming.xml
  Android/.idea/compiler.xml
  Android/.idea/migrations.xml
  Android/.idea/modules.xml
  Android/.idea/runConfigurations.xml
  Android/app/kotlin/new.properties
  Android/app/src/main/res/font/inria_sans.xml
  Android/app/src/main/res/font/inria_sans_bold.xml
  Android/app/src/main/res/xml/data_extraction_rules.xml
  Android/gradle.properties
Due: none

update authController with proper response message
  backend/controllers/authController.js
Due: prettier --write, eslint

fix google auth login issue
  backend/routes/authRoutes.js
Due: prettier --write, eslint

Add connect-mongo dependency
  backend/package-lock.json
  backend/package.json
Due: none

Update login with google
  backend/routes/authRoutes.js
  src/User/pages/UserAuth/UserAuth.jsx
  src/User/pages/UserAuth/package.json
Due: prettier --write, eslint

Bug:backend Logic bug fix
  backend/routes/authRoutes.js
  src/User/pages/Dashboard/Dashboard.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write, eslint

update server address for logs
  backend/routes/ContactRoute.js
  backend/server.js
Due: prettier --write, eslint

code rabbit changes
  backend/routes/authRoutes.js
  src/User/pages/Dashboard/Dashboard.jsx
Due: prettier --write, eslint

update code rabbit code
  backend/routes/ContactRoute.js
  backend/routes/authRoutes.js
  src/User/pages/Dashboard/Dashboard.jsx
Due: prettier --write, eslint

update dashboard header file
  src/User/components/Dashboard/Header.jsx
  src/User/pages/Dashboard/Dashboard.jsx
Due: none

skip already login user token
  src/User/pages/Dashboard/Dashboard.jsx
Due: none

Add general issue template for GitHub issues
  .github/ISSUES_TEMPLATE/issue_template.md
Due: none

Add Qodana configuration and refactor various components
  .github/workflows/qodana_code_quality.yml
  .idea/workspace.xml
  backend/controllers/authController.js
  backend/package-lock.json
  backend/package.json
  backend/routes/ContactRoute.js
  backend/routes/admin.js
  backend/routes/authRoutes.js
  qodana.sarif.json
  qodana.yaml
  src/Admin/AdminLayout.jsx
  src/Admin/Pages/AdminPanel.jsx
  src/App.jsx
  src/User/components/About/GiftHeader.jsx
  src/User/components/About/Header.jsx
  src/User/components/Navbar/AuthButton.jsx
  src/User/components/Navbar/CartIcon.jsx
  src/User/components/Navbar/MobileMenu.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/components/Navbar/WishlistIcon.jsx
  src/User/components/Order/OrderSummary.jsx
  src/User/components/Popular_Categories/ProductGrid.jsx
  src/User/pages/Admin-Verification/Admin.jsx
  src/User/pages/Certification/Certification.jsx
  src/User/pages/Dashboard/dashboard-wishlist.jsx
  src/User/pages/Order/CartEmpty.jsx
  src/User/pages/Order/Checkout.jsx
  src/User/pages/Popular_Categories/Popular_Categories.jsx
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write, eslint

Remove qodana.yaml configuration file to streamline project setup and eliminate unnecessary complexity.
  .idea/workspace.xml
  qodana.sarif.json
  qodana.yaml
Due: none

SANGHU❤️
  README.md
Due: none

Fix: Resolved Signup and Login failure by updating CORS,API PORT and Auth Docs
  backend/.env.example
  backend/app.js
  package-lock.json
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write, eslint

Fix: Update main product image on thumbnail click
  package-lock.json
  src/User/components/Products/ProductDetails.jsx
Due: none
