Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update Wishlist Explore button color
  src/User/pages/Order/WishlistEmpty.jsx
Due: none

Update index.html
  index.html
Due: prettier --write, eslint

corrected
  src/User/components/Aside/Aside.jsx
  src/User/pages/Dashboard/Dashboard.jsx
  src/User/pages/Home/Home.jsx
Due: none

Fix video border size on About Us page
  src/App.jsx
  src/User/pages/AboutUs/Aboutus.jsx
  tailwind.config.js
Due: prettier --write, eslint

Update ProductGrid.jsx
  src/User/components/Popular_Categories/ProductGrid.jsx
Due: none

Applied suggested changes based on PR feedback
  src/User/pages/AboutUs/Aboutus.jsx
  tailwind.config.js
Due: prettier --write, eslint

Added box shadow in divs
  src/User/pages/Home/Home.css
  src/User/pages/Home/Home.jsx
Due: prettier --write

Added subscribe
  src/User/pages/Home/Home.jsx
Due: none

added hovering to social icons
  src/User/components/Footer/Footer.css
  src/User/components/Footer/Footer.jsx
Due: prettier --write

enhanced contact us
  src/User/pages/Contacts/Contact.jsx
Due: none

done
  src/App.jsx
Due: none

added hover to social icons
  src/User/components/Footer/Footer.css
  src/User/components/Footer/Footer.jsx
Due: prettier --write

Update App.jsx
  src/App.jsx
Due: none

enhanced contact
  src/User/pages/Contacts/Contact.jsx
Due: none

added shadow
  src/User/pages/Home/Home.css
Due: prettier --write

added button color
  src/User/pages/Order/WishlistEmpty.jsx
Due: none

changed button color
  src/User/pages/Dashboard/dashboard-wishlist.jsx
Due: none

add multi language support
  index.html
Due: prettier --write, eslint

Fix signup form alignment and improve styling
  src/User/pages/UserAuth/UserAuth.css
Due: prettier --write

add multi language
  index.html
Due: prettier --write, eslint

Resolved merge conflict
  src/App.jsx
Due: none

Update README.md (add my name)
  README.md
Due: none

Update README.md (added my name)
  README.md
Due: none

Adding the functionality of detecting incorrect coupon code input, triggering an alert/error message to prompt users to re-enter the code
  backend/models/Product.js
  backend/routes/verify-coupon.js
  package-lock.json
  package.json
  src/User/pages/Dashboard/dashboard-cart.jsx
Due: prettier --write, eslint

Update README.md
  README.md
Due: none

rishit
  src/App.css
Due: prettier --write

fixex down arrow scroll behavior on homepage
  src/User/components/DownArrow/downArrow.jsx
  src/User/pages/Home/Home.jsx
Due: none

Update UserNavbar.jsx
  src/components/Navbar/UserNavbar.jsx
Due: none

fix ProductGrid
  src/User/components/Popular_Categories/ProductGrid.jsx
Due: none

a11y: add 'Skip to main content' link and wrap app in <main> landmark
  index.html
Due: prettier --write, eslint

feat: add custom 404 Not Found page
  src/App.jsx
Due: none

chore(ci): add GitHub Actions CI + PR/Issue templates
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

docs(readme): add GitHub Actions CI badge
  README.md
Due: none

Update
  src/User/components/Navbar/UserNavbar.jsx
Due: none

updated background of upArrow
  src/User/components/GoToTop/top.css
Due: prettier --write

Update auto-comment-pr-merge.yml
  .github/workflows/auto-comment-pr-merge.yml
Due: none

Create contribution.yml
  .github/ISSUES_TEMPLATE/contribution.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint: (any of: *.js) or (any of: *.html)
