Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

404 fix and other basic bugs also
  src/App.jsx
  src/Layout.jsx
  src/components/GoToTop/gototop.jsx
  src/main.jsx
Due: none

404 fix [ create file vercel.json and configure that for accessing extra routes
  vercel.json
Due: none

Update README.md
  README.md
Due: none

Made the changes in the cart
  src/pages/Order/Cart.jsx
Due: none

made the required changes
  src/pages/Order/Cart.jsx
Due: none

updated
  src/pages/Order/Cart.jsx
Due: none

i
  backend/controllers/authController.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  src/Layout.jsx
  src/auth/ProtectedRoute.js
  src/main.jsx
  src/pages/Signup/Signup.jsx
Due: prettier --write, eslint

Modified the looking of footer in vigyBag
  package-lock.json
  package.json
  src/components/Footer/Footer.jsx
  src/components/GoToTop/gototop.jsx
Due: none

changes done
  src/components/Footer/Footer.jsx
Due: none

underline done
  src/components/Footer/Footer.jsx
Due: none

Added hover effects on scrollbar thumb
  src/index.css
Due: prettier --write

Modified About Page
  src/assets/co-founder.jpeg
  src/assets/founder.jpeg
  src/components/ContributorCard/ContributorCard.jsx
  src/components/GoToTop/gototop.jsx
  src/components/Networkdiagram/Networkdiagram.jsx
  src/pages/About/AboutUs.jsx
  src/pages/Home/Home.jsx
Due: none

Update index.css
  src/index.css
Due: prettier --write

Commit-1
  src/components/Footer/Footer.jsx
  src/pages/Home/Home.jsx
Due: none

Commit-2
  src/components/Footer/Footer.jsx
  src/pages/Home/Home.jsx
Due: none

Design the new EmptyCart Page
  src/assets/woman.png
  src/components/Navbar/Navbar.jsx
  src/main.jsx
  src/pages/About/AboutUs.jsx
  src/pages/Order/Cart.jsx
  src/pages/Order/CartEmpty.jsx
  src/pages/Order/Orderdetails.jsx
Due: none

updated
  src/pages/About/AboutUs.jsx
Due: none

Rabbit changes done
  src/pages/Order/Orderdetails.jsx
Due: none

Added top to down arrow in vigyBag Page
  src/Layout.jsx
  src/assets/arrow.png
  src/components/DownArrow/downArrow.jsx
  src/pages/Dashboard/Dashboard.jsx
  src/pages/Home/Home.css
  src/pages/Home/Home.jsx
Due: prettier --write

removed the functionality
  src/components/DownArrow/downArrow.jsx
Due: none

[ImgBot] Optimize images
  src/assets/co-founder.jpeg
  src/assets/founder.jpeg
  src/assets/woman.png
Due: none

done
  src/components/Navbar/Navbar.jsx
Due: none

updated
  src/components/DownArrow/downArrow.jsx
  src/pages/Home/Home.css
  src/pages/Home/Home.jsx
Due: prettier --write

rabbit work done
  src/components/DownArrow/downArrow.jsx
  src/pages/Home/Home.jsx
Due: none

Product dropdown behaviour issue resolved
  src/components/Navbar/Navbar.jsx
Due: none

authentication added
  backend/controllers/authController.js
  backend/index.js
  backend/models/User.js
  src/auth/ProtectedRoute.js
  src/main.jsx
  src/pages/Signup/Signup.jsx
Due: prettier --write, eslint

bug fixed
  src/pages/Signup/Signup.jsx
Due: none

Fixed input text color
  src/pages/Home/Home.jsx
Due: none

bug fixed
  package-lock.json
  src/pages/Signup/Signup.jsx
Due: none

login auth added
  backend/controllers/authController.js
  backend/models/User.js
  backend/updateSchema.js
  src/pages/Login/Login.jsx
  src/pages/Signup/Signup.jsx
Due: prettier --write, eslint

bug removed
  backend/updateSchema.js
Due: prettier --write, eslint

bug removed
  src/pages/Home/Home.jsx
Due: none

BambooProducts Page Created and Responsive too
  README.md
  src/components/HomPageCard/CategoryCard.jsx
  src/components/HomPageCard/LatestInMarketCard.jsx
  src/components/Products/Aside.jsx
  src/components/Products/Header.jsx
  src/components/Products/Main.jsx
  src/components/Products/Navbar.jsx
  src/pages/Home/Home.jsx
  src/pages/Order/Cart.jsx
  src/pages/ProductsPage/BambooProducts.jsx
Due: none

added Chatbox
  src/Layout.jsx
  src/components/ChatBox/ChatBox.jsx
Due: none

new routes and middlewares added
  src/App.jsx
  src/MinimalApp.jsx
  src/PrivateRoute.jsx
  src/auth/ProtectedRoute.js
  src/components/Aside/Aside.jsx
  src/main.jsx
  src/pages/Dashboard/Dashboard.jsx
  src/pages/Login/Login.jsx
Due: prettier --write, eslint

Revert "Added Chatbox"
  src/Layout.jsx
  src/components/ChatBox/ChatBox.jsx
Due: none

dynamic navbar added
  src/components/Aside/Aside.jsx
  src/components/Navbar/Navbar.jsx
  src/pages/Dashboard/Dashboard.jsx
  src/pages/Login/Login.jsx
Due: none

create progressbar
  src/components/progressbar/ScrollProgressBar.jsx
Due: none
