Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

Update App.jsx
  src/App.jsx
Due: none

enhance contributors page
  src/User/pages/Contributors/Contributors.jsx
Due: none

enhance Certificate page
  src/User/pages/Certification/Certification.jsx
Due: none

update helmet and home page
  package-lock.json
  package.json
  src/App.jsx
  src/User/components/DownArrow/downArrow.jsx
  src/User/components/HomPageCard/CategoryCard.jsx
  src/User/components/HomPageCard/LatestInMarketCard.jsx
  src/User/pages/Home/Home.jsx
  src/User/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/User/pages/Latest_in_the_Market/BambooProducts.jsx
  src/User/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/User/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/User/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/User/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/User/pages/Latest_in_the_Market/OrganicTea.jsx
  src/User/pages/Latest_in_the_Market/StorageBaskets.jsx
  src/User/pages/Order/MyOrders.jsx
  src/User/pages/Order/Orderdetails.jsx
  src/User/pages/Popular_Categories/Beauty-Wellness.jsx
  src/User/pages/Popular_Categories/Body-Care.jsx
  src/User/pages/Popular_Categories/Customized-Gifts.jsx
  src/User/pages/Popular_Categories/Fashion-Accessories.jsx
  src/User/pages/Popular_Categories/Food-Beverages.jsx
  src/User/pages/Popular_Categories/Furniture-Decor.jsx
  src/User/pages/Popular_Categories/Health-Supplements.jsx
  src/User/pages/Popular_Categories/Printing-Stationery.jsx
  src/main.jsx
  tailwind.config.js
Due: prettier --write, eslint

meet_the_makers
  package-lock.json
  src/App.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/pages/MeetTheMakers/MeetTheMakers.jsx
  src/assets/aarti.jpeg
  src/assets/ashaben.jpeg
  src/assets/basket.webp
  src/assets/chair.jpeg
  src/assets/clutch.jpeg
  src/assets/dhaaga.webp
  src/assets/envelope.jpeg
  src/assets/kantha.jpg
  src/assets/kanthasaree.jpeg
  src/assets/kashmir.jpg
  src/assets/lamp.jpeg
  src/assets/leaf.jpeg
  src/assets/mat.jpeg
  src/assets/oil.jpg
  src/assets/paper.jpeg
  src/assets/pashmina.jpeg
  src/assets/patchwork.jpeg
  src/assets/potlibag.jpeg
  src/assets/quilt.jpeg
  src/assets/rani.jpg
  src/assets/saree.jpeg
  src/assets/scarf.jpeg
  src/assets/suresh.jpg
  src/assets/teaset.jpeg
  src/assets/wallart.jpeg
  src/assets/wood.jpeg
  src/assets/wrap.jpeg
Due: none

updated_meet_makers
  src/User/pages/MeetTheMakers/MeetTheMakers.jsx
  src/assets/chairs.jpeg
  src/assets/embellscarf.jpeg
  src/assets/embrbags.jpeg
  src/assets/kashida.webp
  src/assets/penstand.jpeg
  src/assets/shawl.jpeg
  src/assets/teainfused.jpeg
  src/assets/temple.jpeg
  src/assets/toys.jpeg
Due: none

Integrate User profile with API's to Fetch & Update User details
  backend/controllers/userController.js
  src/User/pages/Dashboard/ProfilePage.jsx
Due: prettier --write, eslint

Implement Profile picture change functionality in both frontend and backend
  backend/controllers/userController.js
  backend/models/User.js
  src/User/pages/Dashboard/ProfilePage.jsx
Due: prettier --write, eslint

Make the profile page fully responsive
  backend/controllers/userController.js
  src/User/pages/Dashboard/ProfilePage.jsx
Due: prettier --write, eslint

Create AdminRoute.jsx
  src/AdminRoute.jsx
Due: none

Remove unwanted css file
  package-lock.json
  src/User/pages/Career-Page/careerPage.css
Due: prettier --write

Update AdminRoute.jsx
  src/AdminRoute.jsx
Due: none

Update Footer.jsx
  src/User/components/Footer/Footer.jsx
Due: none

Update Home.jsx
  src/User/pages/Home/Home.jsx
Due: none

Update Footer.css
  src/User/components/Footer/Footer.css
Due: prettier --write

Fix typo: change 'accpet' to 'accept' in README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix all issues (API, Profile Page & Styling)
  backend/controllers/userController.js
  src/User/components/Navbar/UserNavbar.jsx
  src/User/pages/Dashboard/ProfilePage.jsx
Due: prettier --write, eslint

Add comments & fix issues
  backend/controllers/userController.js
  src/User/pages/Dashboard/ProfilePage.jsx
Due: prettier --write, eslint

Fix more issues
  backend/controllers/userController.js
  src/User/pages/Dashboard/ProfilePage.jsx
Due: prettier --write, eslint

Update UserNavbar.jsx
  src/components/Navbar/UserNavbar.jsx
Due: none

Add authentication requirement for cart and wishlist functionality
  src/User/components/Popular_Categories/ProductGrid.jsx
  src/User/components/ProductCard/ProductCard.jsx
  src/context/AuthContext.jsx
Due: none

WIP: changes before switching
  backend/app.js
  backend/middlewares/Passport.js
  backend/models/subscriber.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/routes/subscribe.js
  package-lock.json
  package.json
  src/User/pages/Home/Home.jsx
Due: prettier --write, eslint

Updated Home.jsx with latest changes
  src/User/pages/Home/Home.jsx
Due: none

Update subscribe.js
  backend/routes/subscribe.js
Due: prettier --write, eslint

Update subscriber.js
  backend/models/subscriber.js
Due: prettier --write, eslint

Update package.json
  backend/package.json
Due: none
