Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Checkout page is done
  Front-with-React/VigyBag/src/pages/Order/Checkout.jsx
Due: none

ProductDetails Page is Done
  Front-with-React/VigyBag/src/assets/comb.jpg
  Front-with-React/VigyBag/src/components/Products/ProductDetails.jsx
  Front-with-React/VigyBag/src/components/Products/Similarproducts.jsx
  Front-with-React/VigyBag/src/main.jsx
  Front-with-React/VigyBag/src/pages/Help/Help.jsx
  Front-with-React/VigyBag/src/pages/Payment/Payment.jsx
  Front-with-React/VigyBag/src/pages/Privacy-Policy/Privacy.jsx
Due: none

Dropdown done
  Front-with-React/VigyBag/src/components/DropDown/DropDown.jsx
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
Due: none

added alertfor new version
  index.html
Due: prettier --write, eslint

added basic comments for new version
  index.html
Due: prettier --write, eslint

[ImgBot] Optimize images
  Front-with-React/VigyBag/Web UI Assets/Check-out PageVB.png
  Front-with-React/VigyBag/Web UI Assets/My order page.png
  Front-with-React/VigyBag/src/assets/TUMBLER.png
  Front-with-React/VigyBag/src/assets/b-tick.png
  Front-with-React/VigyBag/src/assets/bamboo_left.png
  Front-with-React/VigyBag/src/assets/bamboo_right.png
  Front-with-React/VigyBag/src/assets/cancel.png
  Front-with-React/VigyBag/src/assets/confirm.png
  Front-with-React/VigyBag/src/assets/images/BodyCare.svg
  Front-with-React/VigyBag/src/assets/images/FashionAndAccessories.svg
  Front-with-React/VigyBag/src/assets/images/FoodAndBeverages.svg
  Front-with-React/VigyBag/src/assets/images/FurnitureAndDecor.png
  Front-with-React/VigyBag/src/assets/images/FurnitureAndDecor.svg
  Front-with-React/VigyBag/src/assets/images/HandmadeSoaps.svg
  Front-with-React/VigyBag/src/assets/images/HealthSupplements.svg
  Front-with-React/VigyBag/src/assets/images/PrintingAndStationary.svg
  Front-with-React/VigyBag/src/assets/images/healthcare.png
  Front-with-React/VigyBag/src/assets/map.png
  Front-with-React/VigyBag/src/assets/payment.png
  Front-with-React/VigyBag/src/assets/tick.png
Due: none

Payment Page is Done
  Front-with-React/VigyBag/src/components/Footer/Footer.jsx
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/pages/Payment/Payment.jsx
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Order details.png
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Confirmation Page.png
Due: none

Responsive Navbar Is Done
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
Due: none

Responsive Footer is Done
  Front-with-React/VigyBag/src/components/DropDown/DropDown.jsx
  Front-with-React/VigyBag/src/components/Footer/Footer.css
  Front-with-React/VigyBag/src/components/Footer/Footer.jsx
Due: prettier --write

Responsive Cart is Done
  Front-with-React/VigyBag/src/pages/Order/Cart.jsx
Due: none

fix-logo
  Pages/contact/contact.html
  Pages/login/login.html
Due: prettier --write, eslint

Responsive Checkout Page Is Done
  Front-with-React/VigyBag/src/components/Order/ProgressBar.css
  Front-with-React/VigyBag/src/components/Order/ProgressBar.jsx
  Front-with-React/VigyBag/src/pages/Order/Checkout.jsx
Due: prettier --write

add-icon
  Pages/contact/contact.html
  Pages/login/login.html
Due: prettier --write, eslint

Responsive payment is Done
  Front-with-React/VigyBag/src/pages/Payment/Payment.jsx
Due: none

[ImgBot] Optimize images
  Front-with-React/VigyBag/Web UI Assets/Confirmation Page.png
  Front-with-React/VigyBag/Web UI Assets/Order details.png
  Front-with-React/VigyBag/src/assets/images/BeautyAndWellness.svg
  Front-with-React/VigyBag/src/assets/images/CustomisedGifts.svg
Due: none

added dark mode functionality in about us page
  Pages/About Page/about.css
  Pages/About Page/about.html
  Pages/About Page/about.js
  package-lock.json
  package.json
Due: prettier --write, eslint

price
  index.html
  style/style.css
Due: prettier --write, eslint

conflict fixed
  Backend Code/Backend_NodeJS/server.js
Due: prettier --write, eslint

Feedback form UI improved
  index.css
Due: prettier --write

Responsive OrderDetails Page Is Done
  Front-with-React/VigyBag/src/pages/Order/Orderdetails.jsx
Due: none

Responsive MyOrder Page is Done
  Front-with-React/VigyBag/src/pages/Order/Cart.jsx
  Front-with-React/VigyBag/src/pages/Order/MyOrders.jsx
Due: none

Responsive Contact page is Done
  Front-with-React/VigyBag/src/pages/Contacts/Contact.jsx
  Front-with-React/VigyBag/src/pages/Order/MyOrders.jsx
Due: none

Responsive Login Page is Done
  Front-with-React/VigyBag/src/pages/Login/Login.jsx
  Front-with-React/VigyBag/src/pages/Order/MyOrders.jsx
Due: none

Scroll Bar Added
  Front-with-React/VigyBag/src/index.css
Due: prettier --write

Routing fixed
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/main.jsx
  Front-with-React/VigyBag/src/pages/Categories/BodyCare.jsx
  Front-with-React/VigyBag/src/pages/Categories/Categories.jsx
  Front-with-React/VigyBag/src/pages/Categories/Fashion.jsx
  Front-with-React/VigyBag/src/pages/Categories/Furniture.jsx
  Front-with-React/VigyBag/src/pages/Categories/Gifts.jsx
  Front-with-React/VigyBag/src/pages/Categories/Stationary.jsx
  Front-with-React/VigyBag/src/pages/Category/DecorativeItems.jsx
Due: none

add gradient color in scroll bar
  Front-with-React/VigyBag/src/index.css
Due: prettier --write

add a comment
  Backend Code/Backend_NodeJS/models/User.model.js
Due: prettier --write, eslint

inital commit
  .gitignore
  config.js
  controllers/User.controller.js
  controllers/productController.js
  middleware/authMiddleware.js
  models/User.model.js
  package-lock.json
  package.json
  routes/authRoutes.js
  routes/index.js
  routes/productRoutes.js
  server.js
Due: prettier --write, eslint

Create README.md
  README.md
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Cancellation page.png
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Product Details2.png
Due: none

Navbar Bug Fixed
  Front-with-React/VigyBag/src/components/Footer/Footer.css
  Front-with-React/VigyBag/src/components/Footer/Footer.jsx
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
Due: prettier --write

Add to cart Function
  Cart/Cart.html
  Cart/cart.css
  Cart/script.js
  cart/js/main.js
  img/basket-cart-icon-27.png
  index.css
  index.html
Due: prettier --write, eslint

firebase configs added
  Backend Code/Backend_NodeJS/firebaseConfig.js
  Backend Code/Backend_NodeJS/package-lock.json
  Backend Code/Backend_NodeJS/package.json
  Front-with-React/VigyBag/src/Configs/FirebaseConfig.js
  Front-with-React/VigyBag/src/pages/Login/Login.jsx
Due: prettier --write, eslint

env added
  Front-with-React/VigyBag/package-lock.json
  Front-with-React/VigyBag/package.json
  Front-with-React/VigyBag/src/Configs/FirebaseConfig.js
  Front-with-React/VigyBag/src/pages/Login/Login.jsx
Due: prettier --write, eslint

Revert "firebase configs added"
  Backend Code/Backend_NodeJS/firebaseConfig.js
  Backend Code/Backend_NodeJS/package-lock.json
  Backend Code/Backend_NodeJS/package.json
  Front-with-React/VigyBag/package-lock.json
  Front-with-React/VigyBag/package.json
  Front-with-React/VigyBag/src/Configs/FirebaseConfig.js
  Front-with-React/VigyBag/src/pages/Login/Login.jsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint: (any of: *.js) or (any of: *.html)
