Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

Fix:Improved cards in home page.
  index.html
  script/script.js
  style/style.css
Due: prettier --write, eslint

added the auto commenting bot with some extra features
  .github/workflows/PR-template.md
  .github/workflows/auto-comment-on-pr-merge.yml
  .github/workflows/auto-comment.yml
  .github/workflows/autocomment-iss-close.yml
  .github/workflows/autocomment-issue.yml
  .github/workflows/autocomment-pr-raise.yml
  .github/workflows/close-old-issue.yml
  .github/workflows/close-old-pr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/development.yml
  .github/workflows/eslint.yml
  .github/workflows/greetings.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
Due: none

checking
  html/greet.html
Due: prettier --write, eslint

Navbar Done
  Front-with-React/VigyBag/package-lock.json
  Front-with-React/VigyBag/package.json
  Front-with-React/VigyBag/src/App.css
  Front-with-React/VigyBag/src/App.jsx
  Front-with-React/VigyBag/src/components/Navbar.jsx
  Front-with-React/VigyBag/src/index.css
  Front-with-React/VigyBag/src/main.jsx
  Front-with-React/VigyBag/src/pages/LadingPage.jsx
Due: prettier --write

Routing, Structure and Navbar is done
  Front-with-React/VigyBag/package-lock.json
  Front-with-React/VigyBag/package.json
  Front-with-React/VigyBag/src/App.jsx
  Front-with-React/VigyBag/src/assets/images/background.png
  Front-with-React/VigyBag/src/assets/react.svg
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/pages/AboutUs.jsx
  Front-with-React/VigyBag/src/pages/Categories.jsx
  Front-with-React/VigyBag/src/pages/Dashboard.jsx
  Front-with-React/VigyBag/src/pages/Gifts.jsx
  Front-with-React/VigyBag/src/pages/LadingPage.jsx
Due: none

Create auto-comment-issue.yml
  .github/workflows/auto-comment-issue.yml
Due: none

added google search console varification page
  Front-with-React/VigyBag/package.json
Due: none

fix the google search console issue
  googleb29376ad16d64827.html
  index.html
Due: prettier --write, eslint

added bing web master tool
  BingSiteAuth.xml
Due: none

Create static.yml
  .github/workflows/static.yml
Due: none

login page dangerous issue try to fix
  Pages/login/login.html
Due: prettier --write, eslint

changed about image
  Pages/About Page/about.html
Due: prettier --write, eslint

login page issue
  Pages/login/login.html
Due: prettier --write, eslint

Add logo, add some pages (Contact and rename some pages and structured---- added react router dom perfectly
  Front-with-React/VigyBag/src/App.jsx
  Front-with-React/VigyBag/src/Layout.jsx
  Front-with-React/VigyBag/src/assets/images/Logo.svg
  Front-with-React/VigyBag/src/components/Footer/Footer.jsx
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/main.jsx
  Front-with-React/VigyBag/src/pages/AboutUs.jsx
  Front-with-React/VigyBag/src/pages/Categories.jsx
  Front-with-React/VigyBag/src/pages/Category/DecorativeItems.jsx
  Front-with-React/VigyBag/src/pages/Contact.jsx
  Front-with-React/VigyBag/src/pages/Home.jsx
  Front-with-React/VigyBag/src/pages/gifts/Gifts.jsx
  Front-with-React/VigyBag/src/pages/gifts/Toys.jsx
Due: none

added logo and fix the routing (remove <a> tag and replce to <NavLink>
  Front-with-React/VigyBag/public/Logo.svg
  Front-with-React/VigyBag/public/vite.svg
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/pages/gifts/Gifts.jsx
Due: none

fix the Title and favicon image
  Front-with-React/VigyBag/index.html
Due: prettier --write, eslint

[ImgBot] Optimize images
  Front-with-React/VigyBag/Web UI Assets/Cart VB.png
  Front-with-React/VigyBag/Web UI Assets/Contact.png
  Front-with-React/VigyBag/Web UI Assets/Home VB.png
  Front-with-React/VigyBag/Web UI Assets/User Dashboard.png
  Front-with-React/VigyBag/public/Logo.svg
  Front-with-React/VigyBag/src/assets/images/Logo.svg
  Front-with-React/VigyBag/src/assets/images/background.png
Due: none

Added price below title in cards.
  index.html
  script/script.js
  style/style.css
Due: prettier --write, eslint

Made Read More button Clickable and enhancement in that
  Pages/About Page/about.html
Due: prettier --write, eslint

product cards UI improved
  style/style.css
Due: prettier --write

corrected the typo
  index.html
Due: prettier --write, eslint

readme file is deleted
  Android/README.md
Due: none

Create auto-comment-pr-raise.yml
  .github/workflows/auto-comment-pr-raise.yml
Due: none

this is login page and completed
  Front-with-React/VigyBag/src/assets/offical_logo.png
  Front-with-React/VigyBag/src/assets/sign-up-img.png
  Front-with-React/VigyBag/src/main.jsx
  Front-with-React/VigyBag/src/pages/Login/Login.jsx
Due: none

Add files via upload
  Front-with-React/VigyBag/Web UI Assets/Payment Page.png
Due: none

footer changes
  Pages/Team/team.html
Due: prettier --write, eslint

fixed issue
  Pages/login/login.css
  Pages/login/login.html
Due: prettier --write, eslint

Filter genuine email added
  Pages/login/login.html
Due: prettier --write, eslint

Visible text properly
  index.css
  index.html
Due: prettier --write, eslint

Fixed font style
  Pages/contact/contact.css
Due: prettier --write

made the ui enhancements
  index.css
  index.html
  style/style.css
Due: prettier --write, eslint

conflicts
  index.css
  index.html
Due: prettier --write, eslint

Designed the footer
  Front-with-React/VigyBag/src/components/Footer/Footer.css
  Front-with-React/VigyBag/src/components/Footer/Footer.jsx
  Front-with-React/VigyBag/src/components/Footer/image/ci.png
  Front-with-React/VigyBag/src/components/Footer/image/hi.png
  Front-with-React/VigyBag/src/components/Footer/image/in.png
  Front-with-React/VigyBag/src/components/Footer/image/li.png
  Front-with-React/VigyBag/src/components/Footer/image/logo.png
  Front-with-React/VigyBag/src/components/Footer/image/meta.png
  Front-with-React/VigyBag/src/components/Footer/image/msg.png
  Front-with-React/VigyBag/src/components/Footer/image/tw.png
Due: prettier --write

Dashboard Completed
  Front-with-React/VigyBag/src/components/Aside(Dashboard)/Aside.jsx
Due: none

Updated index.html and added assets, script.js, and style.css
  assests/favicon.webp
  assests/landing_svg_image.png
  assests/logo.png
  index.html
  script.js
  style.css
Due: prettier --write, eslint

nav bar bug fix
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/components/Team/Team.jsx
Due: none

added Team page
  Front-with-React/VigyBag/src/components/Navbar/Navbar.jsx
  Front-with-React/VigyBag/src/components/Team/Team.jsx
  Front-with-React/VigyBag/src/main.jsx
Due: none
