Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

bug fix
  index.html
Due: prettier --write, eslint

done some modifications
  html/currentLocation.html
  html/greet.html
  index.html
  logFiles/hs_err_pid12692.log
  logFiles/hs_err_pid7416.log
  logFiles/replay_pid12692.log
  logFiles/replay_pid7416.log
  logFiles/requirements.txt
  script/script.js
  script/tempCodeRunnerFile.js
  style/style.css
Due: prettier --write, eslint

added changes
  Cart/Cart.html
  Pages/About Page/about.html
  Pages/About Page/about.js
  Pages/Team/team.html
  Pages/contact/contact.html
  index.html
  package.json
  script/script.js
  see_more/see_more.html
Due: prettier --write, eslint

Update
  Pages/About Page/about.html
  Pages/Team/team.html
  Pages/contact/contact.css
  Pages/contact/contact.html
Due: prettier --write, eslint

Update about.html
  Pages/About Page/about.html
Due: prettier --write, eslint

feat: revamp the Sign-in and Sign-up page
  Android/app/build.gradle
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/res/drawable/ic_dial.png
  Android/app/src/main/res/drawable/ic_google.png
  Android/app/src/main/res/layout/fragment_sign_in.xml
  Android/app/src/main/res/layout/fragment_sign_up.xml
  Android/app/src/main/res/values-night/colors.xml
  Android/app/src/main/res/values-night/themes.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/themes.xml
  Android/build.gradle
  Android/gradle/wrapper/gradle-wrapper.properties
Due: none

changes made
  style/style.css
Due: prettier --write

changes made to UI
  style/style.css
Due: prettier --write

changes made
  Pages/About Page/about.css
  html/greet.html
  see_more/see_more.html
Due: prettier --write, eslint

Link fixed
  Pages/contact/contact.html
Due: prettier --write, eslint

Fix message input visibility in Contact Us page
  Pages/contact/contact.css
Due: prettier --write

Link, input field and footer fixed
  Pages/contact/contact.css
  Pages/contact/contact.html
Due: prettier --write, eslint

changed
  index.html
  style/style.css
Due: prettier --write, eslint

Changes done
  Pages/Team/team.html
Due: prettier --write, eslint

modified index.html
  index.html
Due: prettier --write, eslint

modified style.css
  style/style.css
Due: prettier --write

modified footer
  Pages/Team/team.html
Due: prettier --write, eslint

modified about.html footer
  Pages/About Page/about.html
Due: prettier --write, eslint

fix navigation menu issue - related to day and night toggle button
  index.html
  launch.json
  script/tempCodeRunnerFile.js
  style/style.css
Due: prettier --write, eslint

UI Issue Fixed
  index.html
Due: prettier --write, eslint

bug fix of index.html landing page of top part
  index.html
  style/style.css
Due: prettier --write, eslint

fix footer issue
  index.html
  see_more/see_more.html
  style/style.css
Due: prettier --write, eslint

fix index.html button social icons
  index.html
Due: prettier --write, eslint

Create contact.css
  contact.css
Due: prettier --write

updating requirements.txt
  Backend Code/VigyBag/requirements.txt
Due: none

Responsiveness
  index.html
  style/style.css
Due: prettier --write, eslint

Review_SecChange
  Pages/review/review.css
  index.css
  index.html
Due: prettier --write, eslint

changes
  index.css
  index.html
Due: prettier --write, eslint

namechanges
  index.html
Due: prettier --write, eslint

fewchanges
  Pages/review/review.css
  Pages/review/review.js
  index.css
  index.html
Due: prettier --write, eslint

Move changes to new branch
  Pages/review/review.css
  Pages/review/review.js
  index.css
  index.html
Due: prettier --write, eslint

additional changes
  index.html
Due: prettier --write, eslint

backend configuration and fixing bug
  Backend Code/VigyBag/VigyBag/__pycache__/__init__.cpython-311.pyc
  Backend Code/VigyBag/VigyBag/__pycache__/settings.cpython-311.pyc
  Backend Code/VigyBag/VigyBag/__pycache__/urls.cpython-311.pyc
  Backend Code/VigyBag/VigyBag/settings.py
  Backend Code/VigyBag/VigyBag/urls.py
  Backend Code/VigyBag/base/models.py
  Backend Code/VigyBag/db.sqlite3
  Backend Code/VigyBag/error_solve.txt
  Backend Code/VigyBag/users/__pycache__/__init__.cpython-311.pyc
  Backend Code/VigyBag/users/__pycache__/models.cpython-311.pyc
  Backend Code/VigyBag/users/__pycache__/urls.cpython-311.pyc
  Backend Code/VigyBag/users/__pycache__/views.cpython-311.pyc
Due: none

enchanced the services hover effect
  style/style.css
Due: prettier --write

Fixed Search Button Styles
  style/style.css
Due: prettier --write

Made the toggle btn to work in team Page
  Pages/Team/team.css
Due: prettier --write

Heading for footer update: "Enhance Footer: Transforming About and Team Pages to Mirror Index Page Design"
  Pages/About Page/about.html
  Pages/Team/team.html
  index.html
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint: (any of: *.js) or (any of: *.html)
