Repository codervivek5/VigyBag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Create config.yml
  .github/ISSUES_TEMPLATE/config.yml
Due: none

Update contribution.yml
  .github/ISSUES_TEMPLATE/contribution.yml
Due: none

star-alignment-issue-fixed
  src/User/components/ProductCard/ProductCard.jsx
Due: none

Fix : Character accepting in Mobile number and pincode
  package-lock.json
  package.json
  src/User/pages/Order/Checkout.jsx
Due: none

Fix: Form validation fixed
  src/User/pages/Order/Checkout.jsx
Due: none

Fix: DownArrow button scrolls to Popular Categories section
  src/User/components/DownArrow/downArrow.jsx
  src/User/pages/Home/Home.css
  src/User/pages/Home/Home.jsx
Due: prettier --write

feat: Add CSS styling to footer
  index.html
  src/User/components/Footer/Footer.css
  src/User/components/Footer/Footer.jsx
Due: prettier --write, eslint

Update Filters.jsx
  src/User/components/Popular_Categories/Filters.jsx
Due: none

Update Customized-Gifts.jsx
  src/User/pages/Popular_Categories/Customized-Gifts.jsx
Due: none

Improve and enhance Auth Page & Admin Verification Page
  src/User/pages/Admin-Verification/Admin.jsx
  src/User/pages/UserAuth/UserAuth.css
  src/User/pages/UserAuth/UserAuth.jsx
Due: prettier --write

hamburger menu fixed
  src/User/components/Navbar/MobileMenu.jsx
  src/User/components/Navbar/UserNavbar.jsx
Due: none

Add correct links & remove unwanted buttons within link tags
  src/User/pages/UserAuth/UserAuth.jsx
Due: none

Fix : Buy now button Navigation
  src/User/components/Popular_Categories/ProductGrid.jsx
Due: none

meet_the_makers
  package-lock.json
  src/App.jsx
  src/User/components/Navbar/UserNavbar.jsx
  src/User/pages/MeetTheMakers/MeetTheMakers.jsx
  src/assets/aarti.jpeg
  src/assets/ashaben.jpeg
  src/assets/basket.webp
  src/assets/chair.jpeg
  src/assets/clutch.jpeg
  src/assets/dhaaga.webp
  src/assets/envelope.jpeg
  src/assets/kantha.jpg
  src/assets/kanthasaree.jpeg
  src/assets/kashmir.jpg
  src/assets/lamp.jpeg
  src/assets/leaf.jpeg
  src/assets/mat.jpeg
  src/assets/oil.jpg
  src/assets/paper.jpeg
  src/assets/pashmina.jpeg
  src/assets/patchwork.jpeg
  src/assets/potlibag.jpeg
  src/assets/quilt.jpeg
  src/assets/rani.jpg
  src/assets/saree.jpeg
  src/assets/scarf.jpeg
  src/assets/suresh.jpg
  src/assets/teaset.jpeg
  src/assets/wallart.jpeg
  src/assets/wood.jpeg
  src/assets/wrap.jpeg
Due: none

footer link redirections fixed
  src/App.jsx
Due: none

implemented CodeRabbitAI suggestions
  src/Admin/Pages/ProductForm.jsx
  src/App.jsx
  src/User/pages/Certification/Certification.jsx
  src/User/pages/Order/Cart.jsx
  src/User/pages/Order/MyOrders.jsx
  src/User/pages/Order/Orderdetails.jsx
Due: none

added legacy redirect
  src/App.jsx
Due: none

updated_meet_makers
  src/User/pages/MeetTheMakers/MeetTheMakers.jsx
  src/assets/chairs.jpeg
  src/assets/embellscarf.jpeg
  src/assets/embrbags.jpeg
  src/assets/kashida.webp
  src/assets/penstand.jpeg
  src/assets/shawl.jpeg
  src/assets/teainfused.jpeg
  src/assets/temple.jpeg
  src/assets/toys.jpeg
Due: none

enhance Certificate page
  src/User/pages/Certification/Certification.jsx
Due: none

enhance contributors page
  src/User/pages/Contributors/Contributors.jsx
Due: none

update helmet and home page
  package-lock.json
  package.json
  src/App.jsx
  src/User/components/DownArrow/downArrow.jsx
  src/User/components/HomPageCard/CategoryCard.jsx
  src/User/components/HomPageCard/LatestInMarketCard.jsx
  src/User/pages/Home/Home.jsx
  src/User/pages/Latest_in_the_Market/ArtSupplies.jsx
  src/User/pages/Latest_in_the_Market/BambooProducts.jsx
  src/User/pages/Latest_in_the_Market/CeramicDinnerware.jsx
  src/User/pages/Latest_in_the_Market/HandMadeSoaps.jsx
  src/User/pages/Latest_in_the_Market/NaturalCosmetics.jsx
  src/User/pages/Latest_in_the_Market/OrganicSoaps.jsx
  src/User/pages/Latest_in_the_Market/OrganicTea.jsx
  src/User/pages/Latest_in_the_Market/StorageBaskets.jsx
  src/User/pages/Order/MyOrders.jsx
  src/User/pages/Order/Orderdetails.jsx
  src/User/pages/Popular_Categories/Beauty-Wellness.jsx
  src/User/pages/Popular_Categories/Body-Care.jsx
  src/User/pages/Popular_Categories/Customized-Gifts.jsx
  src/User/pages/Popular_Categories/Fashion-Accessories.jsx
  src/User/pages/Popular_Categories/Food-Beverages.jsx
  src/User/pages/Popular_Categories/Furniture-Decor.jsx
  src/User/pages/Popular_Categories/Health-Supplements.jsx
  src/User/pages/Popular_Categories/Printing-Stationery.jsx
  src/main.jsx
  tailwind.config.js
Due: prettier --write, eslint

updated_meet_makers_2
  src/User/pages/MeetTheMakers/MeetTheMakers.jsx
  src/assets/meenaImg.jpeg
  src/assets/necklaceImg.jpeg
  src/assets/silverEarringsImg.jpeg
Due: none

Enhance layout and shorter job descriptions
  src/User/pages/Career-Page/careerPage.jsx
Due: none

Fix: Added Subscribe button validation (frontend + backend) and fixed broken links
  backend/app.js
  backend/middlewares/Passport.js
  backend/models/subscriber.js
  backend/package-lock.json
  backend/package.json
  backend/routes/subscribe.js
  package-lock.json
  package.json
  src/App.jsx
  src/User/UserLayout.jsx
  src/User/components/Breadcrumb/Breadcrumb.jsx
  src/User/pages/Home/Home.jsx
Due: prettier --write, eslint

Fix User navbar styling
  src/User/components/Navbar/UserNavbar.jsx
Due: none

Update app.js
  backend/app.js
Due: prettier --write, eslint

Update subscribe.js
  backend/routes/subscribe.js
Due: prettier --write, eslint

Update subscriber.js
  backend/models/subscriber.js
Due: prettier --write, eslint

Update Passport.js
  backend/middlewares/Passport.js
Due: prettier --write, eslint

fix : google auth
  backend/middlewares/Passport.js
Due: prettier --write, eslint

Update UserNavbar.jsx
  src/components/Navbar/UserNavbar.jsx
Due: none

Implement User API's to fetch & update user details
  backend/app.js
  backend/controllers/userController.js
  backend/models/User.js
  src/User/components/Navbar/UserNavbar.jsx
Due: prettier --write, eslint

Implement User API's to fetch all users
  backend/controllers/userController.js
  backend/routes/userRoutes.js
Due: prettier --write, eslint

Update Home.jsx
  src/User/pages/Home/Home.jsx
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint: (any of: *.js) or (any of: *.html)
